extends layout

block content
  head
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/sign.css")
  body
    #login-box.col-lg-8
      .left
        h1 Log In to continue
        form(action='/registration' method='post')
          input(type='email' name='email' placeholder='E-mail')
          input(type='password' name='password' placeholder='Password')
          div.g-3.align-items-left
            div.mb-3
                div.form-check
                    input(class="form-check-input" type="checkbox" id="disabledFieldsetCheck" style="width:25px; box-shadow:none;")
                    h6(class="form-check-label" for="disabledFieldsetCheck"
                            style="padding-left: 10px; display:inline; color: rgba(0, 0, 0, 0.596);") Remember me
                        
            div
                span(id="passwordHelpInline" class="form-text")
                    a(href="" style="margin-right: 40px ;") Forgot Password?
                   

          a(class="btn btn-success" href="/registration" role="button" style="margin-top: 20px;") LogIn
      .right
        span.loginwith
          | Log In with
          br
          | social network
        button.social-signup.facebook Sign up with Facebook
        button.social-signup.linkedin Sign up with LinkedIn
        button.social-signup.twitter Sign up with Twitter
        button.social-signup.google Sign up with Google+
      .or OR