extends layout

block content
    body.body
        div.section
            div.row.justify-content-center
                div.col-md-6#outer-div
                    div.card-body
                        header.card-header
                            h1.card-title ZaWash Washing Bay
                            h4.card-title Registration For Car Wash 
                        form(method="POST" action='/registration')
                            div.form-row
                                div.col.form-group
                            
                                    label
                                    input.form-control(name="fullName" placeholder="Enter customer name" id="username")
                                    small
                                div.col.form-group
                                    label
                                    input.form-control(name="phone" placeholder="Customer telephone number" id="phone")
                                    small    
                            div.form-row 
                                div.col.form-group
                                    label
                                    input.form-control(name="residence" placeholder="Residence" id="residence")
                                    small
                                div.col.form-group
                                    label
                                    select.form-control(name="gender" id="gender")  
                                        option(value="none" selected disabled hidden) Car Washed    
                                        option(value="") Small Car
                                        option(value="") Medium Car
                                        option(value="") Lorry
                                        option(value="") MotorCycle
                                        option(value="") Engine
                                        option(value="") Full Wash
                                    small
                            div.form-row
                                div.col.form-group
                                    h5(style="padding-bottom:5px; color:#939393; margin-top:-10px;") Enter Date
                                    input.form-control(type="date" name="date" id="date")
                                    small
                                div.col.form-group
                                    h5(style="padding-bottom:5px; color:#939393; margin-top:-10px;") Enter Time
                                    input.form-control(type="time" name="time" id="time")
                                    small
                            div.form-row
                                div.col.form-group
                                    label
                                    input.form-control(name="numberPlate" placeholder="Enter Number Plate" id="numberPlate")
                                    small
                                div.col.form-group
                                    label
                                    input.form-control(name="carModel" placeholder="Enter Car Model")
                                    small
                            div.form-row
                                div.col.form-group
                                    center
                                        label
                                        input.form-control(name="washer" placeholder="Enter Name of washer" id="washer" style="width:60%;")
                                        small
                            div.form-row

                                div.col.form-group
                                    center
                                        button.btn.btn-danger.btn-lg Submit
                            
        

                            


                        