extends layout

block content
    body.body             
        div.section
                    
            div.row.justify-content-center
                div.col-md-6#outer-div
                    div.card-body
                        if alert =='success'
                            div.alert.alert-success Vehicle information added successfully
                        if alert =='error'
                            div.alert.alert-danger An error occured, failed to add information 
                        header.card-header
                            h1.card-title ZaWash Washing Bay
                            h4.card-title Registration For Car Wash 
                        form(method="POST" action='/cartracking' id="register" name="register")
                            div.form-row
                                div.col.form-group
                                    label
                                    input(name="fullName" placeholder="Enter customer name" id="username")
                                    small(style="color:red;")
                                div.col.form-group
                                    label
                                    input(name="phone" placeholder="Customer telephone number" id="phone")
                                    small    
                            div.form-row 
                                div.col.form-group(style="padding-bottom: 10px; padding-top: 5px;")
                                   
                                    select(name="package" id="package" style=" border-radius:8px;")  
                                        option(value="none" selected disabled hidden) Packages    
                                        option(value="smallcar")  Small cars(10,000/=)
                                        option(value="mediumcar") Medium(15,000/=)
                                        option(value="fullwash") Full wash(20,000/=)
                                        option(value="bodaboda") Boda-boda(5,000/=)
                                        option(value="engine") Engine(10,000/=)
                                        option(value="truck") Truck(20,000/=)
                                    small(style="color: red;")  
                                div.col.form-group
                                    label
                                    select(name="color" id="color")  
                                        option(value="none" selected disabled hidden) Vehicle Color   
                                        option Black
                                        option Red/Maroon
                                        option White
                                        option Blue/Lavender
                                        option Grey
                                        option Silver
                                    
                            div.form-row
                                div.col.form-group
                                    
                                    input(type="text" name="date" id="date" placeholder="Today's Date" onfocus="(this.type='date')")
                                    small(style="color:red;")
                                div.col.form-group
                                    
                                    input(name="time" placeholder="Time of Arrival" id="time" onfocus="(this.type='time')")
                                    small(style="color:red;")
                            div.form-row
                                div.col.form-group
                                    label
                                    input(name="numberPlate" placeholder="Number Plate/Engine number" id="numberPlate")
                                    small(style="color:red;")
                                div.col.form-group
                                    label
                                    input(name="carModel" placeholder="Enter Car Model")
                                    small
                            div.form-row
                                div.col.form-group.offset-md-2
                                    label
                                    select(name="washer" id="washer" style="width:80%;")  
                                        each washer in washers
                                            option(value="none" selected disabled hidden) Washer    
                                            option(value=washer._id) #{washer.username}
                                    small(style="color:red;")

                                 
                            div.form-row(style="margin-bottom:-10px;")

                                div.col.form-group
                                    center
                                        button.btn.btn-danger.btn-lg(type="submit") Submit
        script(src="register.js")                 
        

                            


                        