@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-size: contain;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: rgb(8 8 17);
  /* background-image: url("https://cdn.pixabay.com/photo/2016/05/17/03/50/washing-car-1397382__480.jpg"); */

}

#login-box {
  position: relative;
  margin: 8% auto;
  width: 670px;
  height: auto;
  /* background: #FFF; */
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 460px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: bolder;
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3b6ed4;
  text-align: center;
}
h3 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 17px;
  font-family: bold;
  color: #e2e2e2;
}

input[type="email"],
input[type="password"] {
  /* display: block !important; */
  box-sizing: border-box;
  margin-bottom: 20px !important;
  padding: 4px !important;
  width: 300px !important;
  box-shadow: none !important;
  height: 32px !important;
  border: none !important;
  border-bottom: 1px solid #AAA !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease !important;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085 !important;
  color: #16a085 !important;
  transition: 0.2s ease !important;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 350px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 460px;
  background: url('https://cdn.pixabay.com/photo/2019/01/28/17/00/car-wash-3960877__340.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:bold;
}

button.social-signup {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signup:hover,
button.social-signup:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signup:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signup.facebook {
  background: #32508E;
}
button.social-signup.linkedin {
  background: #4875B4;
}
button.social-signup.twitter {
  background: #55ACEE;
}

button.social-signup.google {
  background: #DD4B39;
}